/* Space out content a bit */
html {
  font-size: 62.5%;
}

body {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  color: #545E6C;
  margin: 0;
}

#container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-size: 1.4em;
}

.body {
  font-size: 1em;
}


#intro {
  font-size: 1.2em;
  padding: 10px;
}

#profile-img {
  height: 140px;
  width: 140px;
  margin: 10px 20px;
  border-radius: 90px;
  border: #545E6C 1px dashed;
  float: right;
}

#profile-img:after {
  clear: right;
}

.job {
  padding: 10px 20px;
}

.job .time {
  font-size: 0.8em;
  padding: 0 5px;
  float: right;
}

.job .time:before {
  content: "[ ";
}

.job .time:after {
  content: " ]";
}

.job .company {
  font-size: 0.8em;
  padding: 0 5px;
  float: right;
}

.job .company:before {
  content: "@ ";
}

.job .title:after {
  clear: both;
}

.job .item {
  padding: 5px;
  list-style: square;
}

.job:nth-child(odd) {
  /*background: #f0f0f0;*/
}

