/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.well .page-header {
  margin-top: 10px;
}

.well p {
  white-space: pre-line;
  line-height: 1.7em;
}

p.job-desc {
  font-size: 0.9em;
  padding: 5px 10px;
  white-space: pre-line;
  line-height: 1.7em;
}

#skills span {
  margin: 2px 2px;
}

.well {

}

.current {

}

.thumbnail {
  float: left;
  margin: 0px 20px 20px 0px;
}

.item {
  margin-bottom: 30px;
}

.position-title {
  color: #3F4650;
}

.position-time {
  color: #97AAC3;
  font-size: 0.54em;
  float: right !important;
}

.position-company {
  margin-bottom: 10px;
  color: #97AAC3;
}

.position-details {

}

@media screen and (max-width: 768px) {

}

@media (max-width: 480px) {

  .thumbnail {
    margin: 30px auto;
    text-align: center;
    float: none;
  }

  .well p {
    text-align: justify;
  }
}
